GREPTIME_SCHEME=https
GREPTIME_PORT=443

GREPTIME_HOST=
GREPTIME_DB=
## a separated db schema for opentelemetry
## make sure you created this database on your instance using `create database <db name>`
GREPTIME_DB_OTEL=
GREPTIME_USERNAME=
GREPTIME_PASSWORD=
